<div class="col-md-8">
  <p class="fs-4 fw-light">Add Character</p>
  <div>
    <form action="" class="row" (ngSubmit)="addCharacter()">
      <input
        type="text"
        [(ngModel)]="character.name"
        class="form-control mb-2"
        name="name"
        placeholder="Name"
      />
      <input
        type="text"
        [(ngModel)]="character.clan"
        class="form-control mb-2"
        name="clan"
        placeholder="Clan"
      />
      <input
        type="text"
        [(ngModel)]="character.power"
        class="form-control mb-2"
        name="power"
        placeholder="Power"
      />
      <button class="btn btn-primary">Add</button>
    </form>
  </div>
  <!-- <div>
    <pre>
      {{ character | json }}
    </pre>
  </div> -->
</div>
