<div class="container">
  <div class="row">
    <h5 class="display-6">Naruto</h5>
    <p>Created by <span class="text-uppercase">Masashi Kishimoto</span></p>
    <p class="fw-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rem
      adipisci earum, fugit unde non cupiditate quae eaque consequatur harum
      vero, sint eius repudiandae amet illum libero minus. Reiciendis odio amet
      ipsum animi sapiente, laudantium architecto ex mollitia dolor recusandae.
    </p>
  </div>
  <div class="row">
    <div class="col">
      <naruto-list
        [listCharacter]="characters"
        (onDeleteCharacter)="deleteCharacter($event)"
      ></naruto-list>
    </div>
    <div class="col">
      <naruto-add-character
        (onNewCharacter)="addCharacter($event)"
      ></naruto-add-character>
    </div>
  </div>
</div>
